[2021-02-24 00:39] aidanchandra opened #1 "Sleep wake issue"
Just saw sleep wake failure in EFI error.

State info:
- PC plugged in for a long time
- No power button wake, no keyboard wake
- USB efi boot was unplugged prior to going to sleep
- Hibernatemode was 3

[2021-02-24 00:39] aidanchandra commented on #1
I set hibernate mode to 0. Coulda swore it was working with 3 before. Will keep track.

[2021-02-25 22:34] aidanchandra opened #2 "Battery Charge Indicator Issue"
See "battery not charging" when plugged in.
Unplug charger
Battery charge jumps up.

[2021-03-01 22:57] aidanchandra opened #3 "Bluetooth Headsets No Mic"
Airpods pro connected
Microphone input detected in system preferences
No input
Google meets detects issue with microphone when it is on airpods pro

[2021-03-02 22:36] suhrmann commented on #3
Can confirm: No microphone with FreeBuds 3 - Also, my sound preferences becomes very laggy when selecting BT audio input

Codec of
 - speaker only: _AAC_
 - "headset-mode": _SCO_

[2021-03-04 00:59] seven-of-eleven commented on #1
I've had it once on mine but I haven't done any trouble shooting on it. Let me know if setting hibernate to 0 is the fix.

[2021-03-04 01:01] seven-of-eleven commented on #2
I don't have this issue at all. I can plug in and unplug without issue. Maybe check your BIOS settings. I thought there was something for USB charging in there.  I can take a look at mine and let you know what they are set at.

[2021-03-04 01:19] seven-of-eleven commented on #2
So I have the following settings:
Config
- `Always on USB` **Enabled**
- `Charge in Battery Mode` **Disabled**

Power
- `CPU Power Management` **Enabled**
- `Power On with AC Attached` **Disabled**
- `Sleep State` **Linux**

Not sure if any of that helps.

[2021-03-06 04:07] muhchaudhary opened #4 "Working With X1C7 10710u model"
After applying:

Cpuid1Data: EC060800 00000000 00000000 00000000
Cpuid1Mask: FFFFFFFF 00000000 00000000 00000000

Everything is working perfectly aside from the internal microphone and some skipping on the trackpad

[2021-03-06 06:52] aidanchandra commented on #1
Hibernatemode 0 is working fine.

Proper deep hibernation is on the todo list.

[2021-03-06 06:53] aidanchandra commented on #2
I'll take a look. I haven't seen the issue since then. It may be intermittent.

[2021-03-06 06:54] aidanchandra commented on #3
@suhrmann
I have the same exact behavior. I bought an external mini USB microphone for the time being. A very odd issue to be sure.

I'm thinking of getting a reddit thread going. This issue is relatively common. Perhaps tyler n has some insight.

Also, adding to this issue.

**The microphone no longer works in Windows when booting through opencore boot picker. I will test just from windows UEFI n

[2021-03-06 06:56] aidanchandra commented on #4
So so glad to hear! That's why @suhrmann and I spent so much time on it :)

We are actively investigating the internal microphone. Can you do me a favor and test it out in windows if you have that partition still?

Also, let me know if you have any other questions boss. I'll add your info to our README. Great to hear it's working with 10th gen.

[2021-03-06 08:34] suhrmann commented on #3
No working mic in Windows might be caused by faulty ACPI

[2021-03-06 17:18] aidanchandra commented on #3
I've investigated a little and there seems to be some interaction between Apple ALC and dual-booting. Someone had mentioned that when they boot into windows, hit restart (NOT SHUTDOWN) and then boot into MacOS their mic works, but it breaks when going from MacOS after a shutdown to windows. That hasn't given me any success but it helps inform the way to solve this I guess

[2021-03-06 17:50] muhchaudhary commented on #4
unfortunately, my windows ssd is a sk Hynix model which causes kernel panics so I switched it out for a different SSD which currently only has macOS on it

[2021-03-07 21:02] aidanchandra commented on #4
What's ur exact model number/family name (sticker underneath)?

I wanna add ur model name to our guide with credit of coruse

[2021-03-07 23:45] suhrmann commented on #3
Maybe this issue is related to troubleshooting of IntelBluetoothFirmware via restart:
https://openintelwireless.github.io/IntelBluetoothFirmware/Troubleshooting.html#identifying-issues

[2021-03-08 11:30] huyhoang8398 commented on #4
My trackpad is bad with the newest voodoo kext. Anyone has similar issue?

[2021-03-08 16:35] suhrmann commented on #4
@huyhoang8398 I dont think this belongs to this issue. Please create a new issue and provide some system information (at least Lenovo model and CPU)

[2021-03-08 20:50] aidanchandra commented on #4
@huyhoang8398 Open an issue and I'm glad to help you out!

[2021-03-08 20:54] huyhoang8398 opened #5 "Trackpad randomly jumps cursor"
**Bug**
Trackpad is very slow, and un-responsive, difficult for tap to touch, while scrolling sometime the cursors is jumped

**Configuration**

- Opencore
- Thinkpad x1 carbon 7th gen with IceLake CPU
- Extension:
  - VoodooI2C
  - VoodooInput
  - VoodooPS2Controller
  - VoodooRMI

[2021-03-08 20:56] huyhoang8398 commented on #4
thanks, I created #5 issue

[2021-03-08 20:59] aidanchandra commented on #5
Awesome. Before I can start helping I am going to need the following things.
1. Your exact model number
2. Your EFI
3. Answers to the following quesitons
3a. Does the jumping go away when you simply press down firmer on the trackpad
3b. Have you disabled force touch in VooodooRMI (or I2C, forget which kext it's in)
3c. Is your trackpad detected as a builtin one within System Preferences
Once I've

[2021-03-08 21:08] huyhoang8398 commented on #5
1. X1 Carbon 7th Gen - (Type 20R1, 20R2) Laptop (ThinkPad) - Type 20R1 ( Mine is 20R1)
2. [EFI repo](https://github.com/huyhoang8398/x1c7-hackintosh-20R1)
3a. Yes but it means that I have to firmly touch the trackpad to move cursor, point or scroll
3b. No I have not disabled forcetouch
3c. Yes

[2021-03-08 21:11] aidanchandra commented on #5
Great. I'll take a look at your EFI now. It's probably something forcetouch related.

[2021-03-08 21:13] aidanchandra opened #6 "Self Assign to Add NVMEFix to improve battery life"
See title

[2021-03-08 21:18] aidanchandra commented on #5
Replace your VoodooRMI.kext with ours and see if it helps.
In `Kexts/VoodooRMI.kext (Show package contents)/Info.plist`
We've disabled ForceTouchEmulation and I remember tuning some of the FingerMajorMinor and ThumbDetection things to better fit the smaller trackpad.

[2021-03-08 21:40] suhrmann commented on #6
Is this about the [acidanthera/NVMeFix kext](https://github.com/acidanthera/NVMeFix) ?

[2021-03-08 22:21] aidanchandra commented on #1
Closing as the issue disappeared with hibernatemode 0. Will revisit with different and better modes as part of nvmefix.

[2021-03-08 22:21] #1 closed, assigned to nobody

[2021-03-08 22:30] aidanchandra commented on #6
@suhrmann Yes. There's some evidence to suggest this patch also fixes some previous hibernation issues seen and generally improves battery life.

[2021-03-09 03:47] aidanchandra commented on #5
@huyhoang8398  any success?

[2021-03-10 18:37] huyhoang8398 commented on #5
I have no luck

[2021-03-10 18:50] aidanchandra commented on #5
Were there no improvements?
I'm curious if your trackpad is over a different bus than I2C - are you familiar trying to find out what type of bus interface you hvae?

[2021-03-10 23:10] aidanchandra commented on #4
@muhchaudhary
What's ur exact model number/family name (sticker underneath)?

I wanna add ur model name to our guide with credit of course

[2021-03-10 23:13] muhchaudhary commented on #4
sorry for the late reply,
my model number is 20R1/20R2
the entire product number(written on the sticker) is: 20R1-S05B00

[2021-03-10 23:19] aidanchandra commented on #4
Thank you @muhchaudhary !!! I'll add.

would you terribly mind seeing #5 and see if you are seeing similar issues with your trackpad as the poster?

[2021-03-10 23:38] muhchaudhary commented on #5
I have the same laptop as @huyhoang8398 and I don't seem to be having the same issues with the trackpad. I have experienced other issues though:

- Fast moments are not registered (swiping quickly using the trackpad leads to the cursor not moving)
- tapping and double tapping is unreliable (buttons work fine, touch tapping is the issue)

other than those two issues, everything on my trackpad works

[2021-03-10 23:58] aidanchandra commented on #5
Thanks @muhchaudhary.
There are two things here.
1. @huyhoang8398, I believe you are using a different EFI while @muhchaudhary is using our verbatim provided one with his small modification. @huyhoang8398 Please use our identical EFI with @muhchaudhary 's modifications (see #4) and see if that improves your situation.
2. In troubleshooting myself some time ago I learned that the behavior of the tr

[2021-03-11 09:02] suhrmann commented on #4
I created a Wiki page from this issue: https://github.com/aidanchandra/x1c7-hackintosh/wiki/X1C7-Intel-i7-10710U

[2021-03-11 22:20] sreehax opened #7 "Big Sur: prohibitory symbol on bootup [20QD0000US]"
I created a Big Sur 11.2.3 USB using an M1 mac and copied over the files from the release, however on bootup the progress bar advances for a bit but then I get hit with a prohibitory symbol and support.apple.com/mac/startup. Is this expected?

[2021-03-11 22:31] suhrmann commented on #7
@aidanchandra did a Big Sur attempt as well without success.

[2021-03-11 22:39] aidanchandra commented on #7
I actually had success. Only intel wifi/Bluetooth is currently unsupported in Big Sur. I'm away from my desk for a short while, I'll come back later.

[2021-03-11 22:58] sreehax commented on #7
Interesting. I have had mixed success with using Big Sur on an EFI based on @suhrmann's old repo in december 2020 and I even made an opencore efi myself once or twice with similar results. In my experience my laptop has booted with Big Sur and installed properly, though there was some major glitchiness (the builtin display seems to have weird colors, maybe in 6 bit mode, and sometimes it even flas

[2021-03-12 00:27] aidanchandra commented on #7
Ah yes - it was bluetooth only that didn't work. I now remember.
There are only two key differences that I can see from my attempt with this EFI and your attempt with this EFI.
I upgraded from Catalina to Big Sur directly within MacOS itself.
I created the original Catalina Installer on an intel mac.

Also by prohibitory do you mean the circle with the cross through it? I've definitely never seen

[2021-03-12 00:42] sreehax commented on #7
Interesting. I might try installing Catalina first then upgrading to Big Sur. If I remember properly I actually needed to do that on @suhrmann's EFI but not my own one from scratch. As for this EFI, I can definitely try to create a Catalina USB, though I don't actually have an Intel mac. Also I do mean a circle with a cross through it, which I'm 99% sure means that macOS detected it's not running

[2021-03-12 00:58] sreehax commented on #7
Well then it seems that running catalina's createinstallmedia on my m1 macbook causes it to die. I guess the best I can do is catalina online install from linux

[2021-03-12 01:06] sreehax commented on #7
Oh yeah forgot to ask but what BIOS Settings should I change?

[2021-03-12 01:11] sreehax commented on #7
Ok I've booted Catalina 10.15.7, and in the installer I can see that there's the same trackpad iffyness as before (I also observe this on OpenBSD but not FreeBSD or Linux) and color banding is still an issue, but the system did boot properly!

[2021-03-12 02:21] sreehax commented on #5
I think I have the exact same issue on my 20QD0000US. In fact, I've noticed the exact same issue on OpenBSD (though much less frequently). In both OpenBSD and macOS when I push down the trackpad harder it will move but it's still pretty useless since that's a click

[2021-03-12 02:30] sreehax commented on #5
It's much worse on macOS though so I wouldn't say it's the exact same issue.

[2021-03-12 04:44] sreehax commented on #5
Update: Trackpad is basically perfect after removing VoodooRMI. I think I found it unnecessary on my old EFI attempt too. I suggest anyone facing issues try the same

[2021-03-12 04:46] sreehax commented on #5
There is an issue with normal push clicks on the touchpad being registered as force clicks. Just disable force clicking for a fix (other settings I changed were enabling tap to click and changing natural scrolling)

[2021-03-12 05:36] sreehax commented on #7
Additionally I've updated to Big Sur 11.2.3 by copying Install macOS Big Sur.app from my m1 mac to an ssd then copying from the ssd to the Thinkpad (wifi wasn't working on the installed macOS Catalina for whatever reason), and the upgrade to Big Sur worked out fine and wifi worked again.

[2021-03-12 05:47] sreehax opened #8 "Color banding and occasional display flicker (20QD0000US)"
I have always had these issues with macOS attempts on this machine. Basically it looks like the display is in 6 bit color or something. If I display a gradient on the screen it is not choppy, and the colors do not look as good as normal. Especially when I open up the Spotlight Search, the shadow behind the window has what looks like very visible contour lines behind it, so maybe some kind of alpha

[2021-03-12 08:53] suhrmann commented on #7
If you mean installing with suhrmann/x1c7-hackintosh: The reason why to use a slim EFI for install is for easier trouble shooting. So if aidanchandra/x1c7-hackintosh works for Catalina, installation should actually™ also work for Big Sur

[2021-03-12 08:55] suhrmann opened #9 "Create a slim Install EFI"
We should create a bare metal, slim OpenCore config for installing MacOS to make trouble shooting easier.

[2021-03-12 08:55] sreehax commented on #7
Yeah that's understandable and in the end it did work out

[2021-03-12 18:08] aidanchandra commented on #5
@sreehax  - excellent news! I will add your solution in our README. Thank you so much for fixing this.

@muhchaudhary @huyhoang8398 I am going to close this issue but please feel free to reopen this issue if @sreehax 's fix does not work.

[2021-03-12 18:10] aidanchandra commented on #9
Great idea. Let me see if I can find some time.

[2021-03-12 18:11] aidanchandra commented on #8
I could have sworn I remember noticing the exact same issue (on spotlight, in fact) but the issue disappeared.
What iGPU on your CPU do you have?

[2021-03-12 18:13] aidanchandra commented on #7
I need to add the BIOS settings to the Readme. I'll add it to my todo list.

Can you confirm that bluetooth does not work on Big Sur?

[2021-03-12 18:14] sreehax commented on #8
I have an i7-8565u with a UHD 620. I've found some interesting details on these sites which may or may not be helpful (the parts that concern graphics):
https://ark.intel.com/content/www/us/en/ark/products/149091/intel-core-i7-8565u-processor-8m-cache-up-to-4-60-ghz.html
https://en.wikichip.org/wiki/intel/core_i7/i7-8565u

[2021-03-12 18:14] sreehax commented on #8
Also I've had this issue on every hackintosh attempt I've done on this machine and I've never been able to fix it

[2021-03-12 18:16] sreehax commented on #7
Actually I did get bluetooth working (paired my MTW2 bluetooth earphones under 11.2.3 and played audio though i think trying to use the mic didn't work and hung stuff), though I downloaded the latest AirportItlwm for big sur. Maybe I should try the latest \*Bluetooth\* stuff too

[2021-03-12 18:17] aidanchandra commented on #8
1. What exact part of the linked site piqued your interest
2. What's your hackintosh history? Dumb question, I know, but are you sure you didn't connect all these hackintoshes to the same display (I've made similar errors before, that's why I ask lol)

[2021-03-12 18:27] sreehax commented on #8
1) Just that it gives the device ID, which I know is needed for some WhateverGreen stuff. Last time I checked it wasn't an explicitly listed device ID in the WEG intel readme, so people who have absolutely no issues might have a different device id or something
2) Well technically all of these issues affect the laptop's internal display. In fact, I notice absolutely no issues when connecting a mon

[2021-03-13 05:27] aidanchandra commented on #4
I've added this to README as well. Closing. Thank you again everyone.

[2021-03-13 05:27] #4 closed, assigned to nobody

[2021-03-13 05:29] aidanchandra commented on #5
Reponeing this. I was away from my X1C7 for a short while and coming back made me realize there was skipping than I had previously though was happening.

Will report back with removing VoodooRMI

[2021-03-13 05:36] aidanchandra commented on #5
Yup. Disabling VoodooRMI _massively_ improved trackpad responsiveness and overall feel. For the sake of documentation, I'm going to write my before/after notes below and close the issue. May comment on voodooRMI repo to see what's going on.

Before:
1. Scrolling with decreasing fingertip surface area and would cause scrolling to completely cut out and need a re-tap
2. Tracking with a decreasing fi

[2021-03-13 05:36] #5 closed, assigned to aidanchandra

[2021-03-13 05:50] aidanchandra commented on #8
Ok so I'm going to go out on a limb here (at the risk of embarrassing myself if one of the kext creators ever reads this) but here is my understanding.

If the issue appears on your display on your laptop but not an external one - there's reason to suggest it's _something_ with your display. It could be something about the color profile of the displays that these lenovo laptops ship with, or it co

[2021-03-13 06:02] aidanchandra commented on #6
I've added it to my personal machine. I can't exactly test battery life well because my iStatMenus trial has expired.

I'll use for a bit and then add to master barring there are no issues.

[2021-03-13 06:05] aidanchandra commented on #7
Oh perfect! So you have Bluetooth AND WiFi working... great! I would try to get big sur running on my machine but I have it on my real mac and kind of hate it.

Would you mind sending over a screenshot for our readme? I'll add it (with credit) and link this issue.

[2021-03-13 06:05] #7 closed, assigned to nobody

[2021-03-13 06:07] sreehax commented on #7
I think I might know what the cause of this is. Basically, I noticed another strange issue: USB 3.0 devices don't work (usb ssd and usb 3.1 flash drive) but USB 2.0 devices work fine (my OnePlus 6T connected over USB and an ancient usb drive). Additionally, I noticed these notes about the prohibited symbol on the OpenCore troubleshooting guide: [https://dortania.github.io/OpenCore-Install-Guide/tr

[2021-03-13 06:08] sreehax commented on #7
Oops I started writing that before your recent comment but yeah I suspect a USB issue caused the problems with the big sur recovery image, and still doesn't allow USB 3.0 devices to work properly (for me at least, I'm not sure if anyone else is affected)

[2021-03-13 09:37] suhrmann commented on #3
Bad news: The issue [Bluetooth mic not working #176](https://github.com/OpenIntelWireless/IntelBluetoothFirmware/issues/176)  of OpenIntelWireless/IntelBluetoothFirmware got label **wontfix**

[2021-03-15 07:03] sreehax opened #10 "USB 3.0 devices not detected"
Described in #7, most probably the cause of it

https://github.com/aidanchandra/x1c7-hackintosh/issues/7#issuecomment-797874586

[2021-03-15 12:44] drizzt opened #11 "Doesn't boot with Intel iGPU spoof enabled"
Hi,

I'm trying to launch Catalina installer on 20QE-SP40U (that is almost the same as 20QE-S01L00), but with default config it doesn't boot (it stucks after "IOConsoleUsers: gIOScreenLock..."). I already followed the [guide](https://dortania.github.io/OpenCore-Install-Guide/troubleshooting/extended/userspace-issues.html#stuck-on-or-near-ioconsoleusers-gioscreenlock-giolockstate-3) without any suc

[2021-03-15 13:14] suhrmann commented on #11
I cant find hardware specs of your model. Could you please provide the CPU model?

[2021-03-15 18:31] drizzt commented on #11
Intel(R) Core(TM) i7-8665U CPU @ 1.90GHz with UHD Graphics 620 (Whiskey Lake)

[2021-03-15 18:36] aidanchandra commented on #11
I was getting that exact same issue as you a month or so ago but I could have sworn I fixed it. In fact, I know I did. However, I remember @suhrmann removed just a few things from my framebuffer patch and the EFI still worked on my machine so I thought nothing of it.

Let me dig up that original EFI with a very large framebuffer entry and let's see if that works for you. I have the exact same CPU

[2021-03-15 18:38] aidanchandra commented on #11
There's the config.plist that had all the framebuffer garbage that allowed me to get past giolockstate3 error. Please let me know if you have any issues copying it over.

[config.plist.zip](https://github.com/aidanchandra/x1c7-hackintosh/files/6143707/config.plist.zip)

[2021-03-15 18:39] aidanchandra commented on #7
Ok gotcha. I see you moved this issue to #10. Let's focus there. Sorry for delayed reply!

[2021-03-15 18:42] aidanchandra commented on #10
Alright just for other's seeing this issue AND to confirm
Your OS is Big Sur - correct?

I've seen no evidence on my machine to suggest USB3.0 is not working. I've used a few USB3.0 devices including flash drives and they work fine. Furthermore I've even used an EGPU (pretty nifty) and it worked fine natively with TB3.

Can you send a screenshot of your USB hackintool page?

[2021-03-15 18:44] aidanchandra commented on #6
I haven't seen any issues with it thusfar. @suhrmann I'll make a branch. Would you mind also loading that EFI to your machine so we can get two tests going before merging to master?

[2021-03-15 18:47] aidanchandra commented on #2
I'm going to close this issue. I've seen the issue a few times but it's honestly very low priority. I'm going to assign wontfix for the time being.
Thx @seven-of-eleven for the help.

[2021-03-15 18:47] #2 closed, assigned to nobody

[2021-03-15 18:48] aidanchandra commented on #9
What would we want to keep in?
1. Keyboard/trackpad functionality
2. WiFi?

[2021-03-15 18:57] aidanchandra commented on #10
Oh. Major difference too - I'm on Catalina.

[2021-03-15 19:07] sreehax commented on #10
Oh yeah I'm on Big Sur 11.2.3 on the 20QD0000US (i7-8565u). Interestingly enough I think that USB 3.0 does work if I use the USB C charging port (I think, not entirely sure), but that's about it and even that was very iffy. Here's my hackintool:
![Screen Shot 2021-03-15 at 12 04 34](https://user-images.githubusercontent.com/23709124/111207273-a5e08a00-8586-11eb-8a61-a61027bc3743.png)

[2021-03-15 19:13] aidanchandra commented on #10
Yup - you are injecting correctly. USB behavior should be the exact same for both of us.

This _could_ be an issue with big sur/opencore/usbInject so I don't exactly know where to go from here sadly.

Do you have a touch screen?? Neat.

One thing of note is that your hackintool indicates that there hasn't been anything plugged into those USB ports (see the green). Try plugging things in to them wh

[2021-03-15 19:30] sreehax commented on #10
Well this is really odd: now my USB 3.0 stuff is detected properly! I have no idea what I changed or whether hackintool fixed something. But now I managed to plug in stuff into every USB port possible and turned it all green (a USB SSD and OnePlus 6T (USB 2.0) in both USB A ports, a usb c to usb a adapter with a TI-84 Plus CE (definitely not 3.0 lol) plugged into the usb c port that's meant for th

[2021-03-15 19:39] sreehax commented on #10
![Screen Shot 2021-03-15 at 12 37 28](https://user-images.githubusercontent.com/23709124/111211100-3caf4580-858b-11eb-9f64-3686ff68fda4.png)
yeah according to this I'm getting less than the 480 Mb/s for USB 2.0, so I figure I'm getting USB 2.0 speeds. I mean it is still an improvement over when USB 3.0 devices just weren't detected

[2021-03-15 19:45] aidanchandra commented on #10
I haven't tested my own USB3 speeds - just detection. I'll do that to ensue it's not broken on my end as well.

Also just a thing I'm realizing now - a lot of these things are 'intermittent' or solved with a clean install. In the dev. stages of this project @suhrmann and I had to clean install a few times to get behavior to, well, behave as expected. Something with the way kexts load or something

[2021-03-15 19:47] sreehax commented on #10
Yeah there's just some strange stuff all around. By clean install do you mean keep the opencore fully intact but install macOS fresh?

[2021-03-15 19:49] aidanchandra commented on #10
Yeah I mean boot into Mac installer and do a clean install.

[2021-03-15 19:58] drizzt commented on #11
I merged config.plist (by only replacing the `PciRoot(0x0)/Pci(0x2,0x0)` section) on top of last main and 1.0.0, but it still doesn't work

[2021-03-15 20:21] drizzt commented on #11
Ok, I solved the problem by just adding `-igfxmlr` on top of 1.0.0

[2021-03-15 20:23] aidanchandra commented on #11
Ok good to hear. Thanks for reporting back. I'll mark and close this.

[2021-03-15 20:24] #11 closed, assigned to aidanchandra

[2021-03-15 23:05] sreehax commented on #10
I just reinstalled macOS Big Sur and funny enough the exact same issue is back. The non internal USB's are all Unknown speed in Hackintool. I can still plug in USB 2.0 devices and they go green but then USB 3.0 devices still aren't detected. I'm using the exact same EFI as before but new macOS install

[2021-03-16 00:45] suhrmann commented on #10
Very strange...

Maybe it's a problem of the internal USB limit that is unnoticed exceeded - and Big Sur has another ordering of the USBs than Catalina?

[2021-03-16 02:01] aidanchandra commented on #10
Yeah I'm beginning to suspect this is an issue of catalina vs big sur more so than anything EFI related. Maybe attach a short video of you going through the pertinent settings in your BIOS (I still have to add the correct BIOS configuration to the README - ugh)

[2021-03-16 02:04] aidanchandra commented on #3
@suhrmann Agh that's super annoying. I bought a USB mini microphone from amazon that I'm going to use in the meantime. I read through the thread and it seemed to be a possible issue with either AppleALC or Bluetooth - if we can collect some persuasive/solid evidence that it's Bluetooth there's a possibility they will try to remedy the issue. It's a huge hole in their software that's clearly being

[2021-03-16 02:35] aidanchandra commented on #3
Just took a half-assed stab at debugging. Here are my notes:

1. Tried looking at logs. There are none being reported. Likely because we are on release and not debug version. Need to swap.
2. Placed all USB injection above all Bluetooth injection. No change in behavior.
3. Swapped Firmware and Regular Kext positions. No change in behavior.

Next steps to take:
1. Replace with debug version of kext

[2021-03-17 08:51] aidanchandra commented on #10
I'm going to close this. @sreehax please feel free to comment if you decide to go back to catalina to test whether or not it's an OS issue (which it likely is).

If you get a lead, send it over too and I'll see if we can fix it. :)

[2021-03-17 08:51] #10 closed, assigned to nobody

[2021-03-18 15:46] suhrmann commented on #9
I think:
 - Keyboard: yes; Fn-keys: No - trackpad: yes, making a usb-mouse mandatory has some advantages.
 - internet is not required for installation, right? Further WiFi might cause many problems, so would not include it - IntelMausi for LAN (adapter) instead?

[2021-03-20 04:09] aidanchandra commented on #8
I am seeing screen flickering on my machine after a hard restart due to a bad graphics glitch upon wake. @sreehax have you seen anything else since then.

[2021-03-20 04:12] aidanchandra commented on #8
A restart solved it for me - said every hackintosher ever.

[2021-03-24 18:10] huyhoang8398 commented on #5
Disabling voodooRMI and using PS2 and I2C works great on my x1c7 20R

[2021-03-24 18:12] huyhoang8398 opened #12 "Audio Layout for 4 speakers"
I tried 11, 21, 31, 52 and 71 none of these layout work for 4 speaker

If you report a problem, provide at least these information and if so the device:
[code]

[2021-03-24 21:13] huyhoang8398 commented on #12
![Screenshot 2021-03-24 at 22 12 25](https://user-images.githubusercontent.com/25379882/112383920-0cd01280-8cee-11eb-9fd6-a4db9a2130b4.png)
there are 2 internal speaker, the first one is 2 top speaker, and the 2nd one is two bottom speaker

[2021-03-24 23:19] suhrmann commented on #12
What are your results when running this command in terminal?
[code]

https://dortania.github.io/OpenCore-Post-Install/universal/audio.html#fixing-audio-with-applealc

[2021-03-24 23:22] huyhoang8398 commented on #12
@suhrmann
![image](https://user-images.githubusercontent.com/25379882/112396282-21b5a180-8d00-11eb-9e9c-c02a240f5a45.png)

[2021-03-25 00:04] aidanchandra commented on #12
Go to Midi Audio Settings and create an aggregate device, although it may not let you adjust volume of the device once you've done so.

[2021-03-25 00:16] huyhoang8398 commented on #12
@aidanchandra  what is your AppleAlc version, thus I see the same issues with Alc285 from this repo https://github.com/jpransxdev/HP-Spectre-X360-13-Early-2019-Hackintosh

[2021-03-25 00:17] huyhoang8398 commented on #12
Im currently using it, but it a little anoying

[2021-03-25 01:08] aidanchandra commented on #12
Sorry I misunderstand what your problem is then if you've already got the aggregate device working? _Please be more clear._
Also, my appleALC version is exactly what is on this repo.

[2021-03-25 02:13] huyhoang8398 commented on #12
sorry for asking unclear question, I mean do we have a better solution for combining 4 speaker?

[2021-03-26 09:08] shangjun2x opened #13 "HDMI output doesn't work"
Lenovo Model: Yoga X1 20QG-S1630J

CPU: Intel i7-8665U
Graphic: UHD 620
Device
HDMI output doesn't work with external DELL display 2560x1440

I used your latest version.

Thanks

[2021-03-26 09:13] suhrmann commented on #13
Please use the template:
Describe your issue here. Lorem ipsum...

If you report a problem, provide at least these information and if so the device:
[code]

[2021-03-26 20:37] aidanchandra commented on #13
HDMI output wasn't working for me at work the other day. I'll investigate later. It works through thunderbolt or USB-C, just not the HDMI connector itself.
Adding HDMI support is definitely doable and I'm glad to help out, but in all honesty, this is a nonpriority for me. However, if you research and share your research, or even better, a branch of your HDMI fix, I'll support as much as I can and

[2021-03-26 20:40] aidanchandra commented on #12
Simply put, there is no better solution. Realtek alone makes approx 800 different codecs, many of which are active in production. Apple only uses a handful of them by default. Opencore and appleALC are therefore made to work across nearly thousands of different codecs. AppleALC is **amazing** at doing everything ok and bad at doing specific CODECs perfectly. Sadly, we are one of the unlucky codecs

[2021-03-26 20:40] #12 closed, assigned to nobody

[2021-03-27 14:27] shangjun2x commented on #13
Thank you. Type-c works for me.

[2021-03-27 14:32] shangjun2x opened #14 "iMessgae and facetime don't work without SMBIOS, Web camera and Bluetooth don't work with SMBIOS"
Lenovo Model: Yoga X1 20QG-S1630J

CPU: Intel i7-8665U
Graphic: UHD 620

[2021-03-28 08:35] suhrmann commented on #14
iMessgae and facetime not working without SMBIOS is obvious.

Bluetooth depends on OpenIntelWireless, Web Camera depends on ACPI patches. Would you mind posting your Bluetooth device?

[2021-03-28 12:44] shangjun2x commented on #14
Thanks @suhrmann. I am not a tech man.After applying SMBIOS MacBook pro 15.4 or MacBook Pro 15.1, both Bluetooth and web camera disppear on hardware list.

<img width="1920" alt="Screen Shot 2021-03-28 at 8 37 23 PM" src="https://user-images.githubusercontent.com/23515854/112752490-eb309d00-9005-11eb-9e3e-78ceda4b8223.png">
<img width="408" alt="Screen Shot 2021-03-28 at 8 43 28 PM" src="https://u

[2021-03-28 18:49] suhrmann commented on #14
This is very weird behaviour. For Bluetooth I recommend following [Troubleshooting of IntelBluetoothFirmware [OpenIntelWireless]](https://openintelwireless.github.io/IntelBluetoothFirmware/Troubleshooting.html) ... but it is recognized correctly as Intel Bluetooth device - so in general it works.

We use SMBIOS of MacBookPro14,4 - just like you noted.

[2021-03-28 22:30] aidanchandra commented on #13
Closing this until further efforts to fix or development

[2021-03-28 22:30] #13 closed, assigned to nobody

[2021-03-28 23:53] shangjun2x commented on #14
thanks for the suggestion.

[2021-03-28 23:53] #14 closed, assigned to nobody

[2021-04-02 02:22] RegDogg opened #15 "Thunderbolt 3 Hotplug Support (Enhancement)"
I'm a newbie at GitHub so this isn't much of an issue. (I don't know how to do a pull request)

But I recently tinkered with this archive and used a Thunderbolt 3 SSDT Patch.

Below is the listed file you can use.
[SSDT-TB3.zip](https://github.com/aidanchandra/x1c7-hackintosh/files/6247319/SSDT-TB3.zip)

[2021-04-02 13:28] RegDogg commented on #15
Another thing with the TB3 SSDT Patch is you don't need Thunderbolt BIOS Assist enabled, as I find it to crap out and cause the Thunderbolt chipset to become invisible in macOS Catalina

[2021-04-06 08:35] shangjun2x commented on #15
Test result: TB3 hotplug works well with it, however, MacOS will crash and restart when I switch from one TB3 to another TB3. Thanks

[2021-05-17 00:23] huyhoang8398 commented on #4
Where should i put this if using this EFI in this repo?

[2021-05-17 01:23] huyhoang8398 commented on #15
I tried it but it doest work for me. Do i need to config something in the bios?

[2021-05-17 03:31] huyhoang8398 opened #16 "Headphone sound weird"
Describe your issue here. Lorem ipsum...

If you report a problem, provide at least these information and if so the device:
Lenovo Model
< Your Lenovo Model, e.g.: 20QE-S01L00 >
20R1
CPU
< Your exact(!) CPU model, e.g.: Intel i7-8565U >
Intel(R) Core(TM) i5-10210U CPU @ 1.60GHz
Device
Headphone sound weird with layout 71, im using multi-output for internal speaker, but when i change to headphone,

[2021-05-17 23:16] aidanchandra commented on #16
Please describe what exactly is weird with it.
I've experienced some cut-offs randomly (all of which are solved with a reboot) but never distorted audio quality (if that is what you're seeing)
Please also do a kextstat with AppleALC and report back.

Also, thank you for using the example AND providing your exact hardware - makes our lives a lot easeir.

[2021-05-17 23:18] aidanchandra commented on #15
This is relevant to post here; there's a well known issue with these generation of thinkpads where the firmware on the TB3 chip completely bricks (on all OSs, completely hardware, not drivers or any OS stuff). So my machine's stuck at their repair depot getting fixed right now. I'll try this hotplug support when I can.

However, I was using a tb3 EGPU and was actually able to hotplug tb3 on a FEW

[2021-05-19 01:58] huyhoang8398 commented on #16
I think Im facing the same problem with you after waking from sleep
[code]

[2021-05-20 00:40] huyhoang8398 opened #17 "[Kext] ECEnabler - Instant battery status - no more ACPI patches?"
ECEnabler is a Lilu plugin which allows macOS to read any size of EC field, meaning that no more ACPI patches are needed to split EC fields up within ACPI.

I have been using it for a while and it works great. Thinkpad x1 7th 20R1

[2021-05-20 07:31] suhrmann commented on #17
[ECEnabler](https://github.com/1Revenger1/ECEnabler) works great on my other Hack. Though, I dont see a reason to use it over our custom generated and working ACPI patches.

[2021-05-20 08:58] aidanchandra commented on #17
I'll echo what @suhrmann said. It's not even if it ain't broke don't fix it - it's indistinguishable from the other option. However, we appreciate the suggestion. Feel free to reopen this if there's evidence to swap and I'll look into it.

[2021-05-20 08:58] #17 closed, assigned to nobody

[2021-06-02 21:24] HOLARJEC opened #18 "Unable to boot installation usb. Stuck at [EB]#LOG:EXITBS:START]"
I had a 20R1 model and my laptop stuck at booting process. I googled the error code [EB]#LOG:EXITBS:START],  and it seems to related to CFG Lock. I could not find the option to disable CFG lock in bios, and neither AppleCpuPmCfgLock nor AppleXcpmCfgLock in config.plist works for this issue.

[2021-06-05 00:03] huyhoang8398 commented on #18
what is your laptop specs?

[2021-06-05 22:58] LouisLynn commented on #18
Processor Number | Code Name | # of Cores | # of Threads | Base Frequency | Max Turbo Frequency | Cache | Memory Types | Graphics
-- | -- | -- | -- | -- | -- | -- | -- | --
i7-10710u | Whiskey Lake(based on Coffee Lake) | 6 | 12 | 1.1 GHz | 4.7 GHz | 12 MB | LPDDR3-2133 | Intel® UHD Graphics for 10th Gen Intel® Processors

btw I found same issue of this model on github: https://github.com/bomdurup

[2021-06-05 23:00] linqimiao commented on #18
X1 Carbon 7th Gen - (Type 20R1, 20R2) Laptop (ThinkPad) - Type 20R1
i7-10710u Whiskey Lake(based on Coffee Lake) / LPDDR3 16GB onboard / Intel® UHD Graphics for 10th Gen Intel® Processors
BIOS : 1.34 (N2QET40W)

Processor Number | Code Name | # of Cores | # of Threads | Base Frequency | Max Turbo Frequency | Cache | Memory Types | Graphics
-- | -- | -- | -- | -- | -- | -- | -- | --
i7-10710u | Whi

[2021-06-05 23:09] huyhoang8398 commented on #18
@LouisLynn  You have same specs with mine, can follow my EFI https://github.com/huyhoang8398/x1c7-hackintosh-20R1
Download the release version

[2021-06-05 23:32] linqimiao commented on #18
Thank You! Will try!

[2021-06-06 02:10] huyhoang8398 commented on #18
@LouisLynn Does it work?

[2021-06-07 19:30] aidanchandra commented on #18
Hey all,

I actually got my laptop back from Lenovo while they fixed a hardware related issue and since it's return (and bios upgrade... ugh) I've been completely unable to get this repo's EFI. I have the older i7-8665u but I'm also stuck on EXITBS.
@LouisLynn did you have any success?

[2021-06-07 20:13] linqimiao commented on #18
Hi all,

I tried @huyhoang8398's EFI and still stuck on EXITBS, then I modified the Cpuid1Data and Cpuid1Mask based on 20R1 model (in @aidanchandra's guide). Now I passed the EXITBS, but still stuck here:
![IMG_3208](https://user-images.githubusercontent.com/29352839/121080976-1542d000-c7aa-11eb-8e59-23446f6a8177.jpg)
I am sorry that I have to show you the error code by a photo, I am new to hackin

[2021-06-07 20:26] huyhoang8398 commented on #18
Which bios version you are using?

[2021-06-07 20:30] linqimiao commented on #18
@huyhoang8398 BIOS : 1.34 (N2QET40W)

[2021-06-10 19:07] Lafite-Yu opened #19 "Installing big sur stuck at 13 minutes remaining"
20QE-S01L00
i7 8565U

Using efi in this repo with platformInfo added, BIOS configuration referred to tylernguyen/x1c6-hackintosh, however, I got stuck when installing big sur with 13 minutes remaining.
Does this might be caused by my wrong configuration or incompatible os version? Thanks a lot.

[2021-07-02 05:59] Champagnois88 opened #20 "Getting iServices working?"

[2021-07-02 05:59] #20 closed, assigned to nobody

[2021-07-07 22:06] Champagnois88 opened #21 "Request: Update to Big Sur, information and guidance"
Just wish they'd provide update information for Big Sur and such.
[code]

[2021-07-12 19:47] Champagnois88 commented on #19
So, my friend did the update, but his wifi wasn’t working afterwards. This was on a 20QD like the repository requests we use.

I’d like more input on this from more seasoned hackintosh folks.

[2021-07-20 12:21] ghost opened #22 "How to use this EFI"
I downloaded your EFI, generated SMBIOS and wrote it into config. But when I use EFI, I get stuck in the apple log interface. Is there any other work after modifying config

[2021-08-05 23:43] aidanchandra commented on #22
There shouldn't be anything more needed. However I'm still battling with Lenovo technical support to now repair my laptop for the second time. I will revive this repo when I get my hands on a functioning X1C7.

[2021-08-06 02:59] ghost commented on #22
Thank you, I will try this again

[2021-09-02 06:27] sreehax commented on #8
I used a script to patch "Retina" support onto the thinkpad (https://github.com/xzhih/one-key-hidpi) so that I could have access to the scaling options and have better dpi in general, but it had the unintended side effect of seemingly fixing my color banding issues... go figure

[2021-09-11 08:20] shangjun2x opened #23 "Airplay doesn't work."
X1C7
CPU： I7-8665U
GPU: HD620

[2021-11-25 05:41] mjones12209 opened #24 "Question About X1 Carbon 7th 20QD001VUS"
Hello!

I was wondering if it is possible to boot a 20QD001VUS with this EFI ?  I've tried MacOS from 12 all the way to 10 with this EFI and I get stuck at the Apple logo.  Would be awesome if there is a way to get this to work on my laptop.

Please let me know!

[2021-12-20 21:14] H3LLC47 opened #25 "AAPL: [EB|#LOG:EXITBS:START] Issue"
AAPL: [EB|#LOG:EXITBS:START] Issue

Lenovo Model
Lenovo X1 Carbon 7th Gen - 20R1-S05B00

CPU
Intel i7-10710u

I have tried everything I can think of to fix this issue, I have followed all recommended fixes from [https://dortania.github.io/OpenCore-Install-Guide/troubleshooting/extended/kernel-issues.html#stuck-on-eb-log-exitbs-start](url)
and none of them work, I keep getting stuck at the same err

[2021-12-20 22:03] H3LLC47 commented on #25
I have also tried what has been proposed in [https://github.com/aidanchandra/x1c7-hackintosh/issues/18](url)
but with no luck, it kernel panics, reboots and when I dump the OC log it is still getting stuck at [EB|#LOG:EXITBS:START]

[2021-12-26 07:48] #25 closed, assigned to nobody